.elementCars{
    background-color: goldenrod;
    padding : 15px;
    margin: 15px;
}

.elementCars .fieldsCars{
    background-color: forestgreen;
    padding : 25px;
    margin: 15px;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}