.navBarr1 {
  background-color: gold;
  padding: 80px;
  margin: 5px;
  display: inline-flex;
  flex-direction: row;
  width: 100%;

  .eleBarr1 {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: darkgoldenrod;
    padding: 20px;
    color: darkgoldenrod;
    font-family: Charter;

     .buttonSty{
       display: flex;
       flex-wrap: wrap;
       background-color: burlywood;
       color: black;
       border-radius: 10px;
       padding: 25px;
       margin: 10px;
     }

  }
}